<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>46628403075-b7fmh71j4aj5fdsktcpctsh85mlk35ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46628403075-b7fmh71j4aj5fdsktcpctsh85mlk35ji</string>
	<key>API_KEY</key>
	<string>AIzaSyAD_p_jYncQemNBUbUTJQlDKgtwsPyVLkI</string>
	<key>GCM_SENDER_ID</key>
	<string>46628403075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>daniel.grant.MoJoe</string>
	<key>PROJECT_ID</key>
	<string>mojoe-610d2</string>
	<key>STORAGE_BUCKET</key>
	<string>mojoe-610d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46628403075:ios:7266e17d7689773a</string>
	<key>DATABASE_URL</key>
	<string>https://mojoe-610d2.firebaseio.com</string>
</dict>
</plist>